# Bytecode
__pycache__/
*.py[cod]

# Bases de datos locales
db/*.db

# Archivos temporales
*.log
*.tmp

# Exportaciones
*.json
*.csv

# Entornos virtuales
venv/
.env/

# Archivos del sistema
.DS_Store
Thumbs.db
